*{

margin: 0 auto;
padding: 0 auto;

}

#Pantalla1{

	background-image: url(../Img/Egipto3.jpg);
	min-width: 100vw;
	min-height: 100vh;
	background-repeat: no-repeat;

	background-size: 100% 100%;

}

#Pantalla2{

	background-image: url(../Img/Egipto4.jpg);
	min-width: 100vw;
	min-height: 100vh;
	background-repeat: no-repeat;

	background-size: 100% 100%;

}

#Pantalla3{

	background-image: url(../Img/Egipto5.jpg);
	min-width: 100vw;
	min-height: 100vh;
	background-repeat: no-repeat;

	background-size: 100% 100%;

}